body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: darkgrey;
}
.name-highight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
width: 100%;
}
.top{
    background-image: url("developer-portfolio/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom:150px ;
}
.link{
    text-decoration: none;
    background-image: linear-gradient( 45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.drem{
    background-image:url(developer-portfolio/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray; 
   border-radius: 5px;
   height: 80%;
   color:darkgrey;
}
.experienc{
    background-image: url(developer-portfolio/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    color: white;
}
#touhid{
    border-left: 7px solid;
    background-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
#Full-Satack{
    border-image-slice: 1;
    border-left: 7px solid;
    background-image: linear-gradient(180deg,rgb(7, 189, 77),rgb(71, 234, 255));

}
footer p {
    text-align: center;
}